.wrapperjob{
    background-image: url(../images/jobdesback.png);
    height: 100%;
    padding: 10px 100px 100px 100px;
    background-size: cover;
}
.jobbbox{
    background-color: black;
    padding: 50px;
    color: white;
    position: relative;
}
form{
    background-color: white;
    color: black;
    padding: 80px;
position: absolute;
width: 500px;
height: 400px;
margin-top: -40px;
margin-bottom: -40px;
top: 0;
box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.199);
}
@media screen and (max-width: 768px) {
.jobbbox{
padding: 0px !important;
position: initial;
}
form{
background-color: white;
color: black;
padding: 40px;
position: static;

height: 400px;
margin-top: 20px;

box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.199);
}
.formjob{
    display: flex;
    justify-content: center;
  
    width: 100%;
    
  
}
.wrapperjob{
    padding: 10px;
}

}