.wrapperteam{
    background-image: url("../images/teamback.png");
    background-size: cover;
    height: 100%;
    padding: 40px;
}
.bbox{
    box-shadow: -10px 10px 0 0px  #00AEB2;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bbbox{
    box-shadow: -10px 10px 0 0px  #000000;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.obox{
    box-shadow: -10px 10px 0 0px  #F26322 ;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bbbox .teamimg , .bbox .teamimg , .obox .teamimg{
filter: blur(15px);
width: 300px;
height: 300px;
margin: -5px -10px -10px -5px;
}
 .obox:hover .teamimg , .bbox:hover .teamimg , .bbbox:hover .teamimg{
    filter: none;
    transition: all 0.8s;
}
.bbbox section , .bbox section , .obox section {
    position: absolute;
    top: 40%;
  

    color: white;
    text-align: center;
}
span{
    color: white !important;
}
.bbbox .logo , .bbox .logo , .obox .logo {
    margin-top: 30px;
}
.groupimages{
    border: 2px solid black;
  padding: 20px;
    margin-top: 60px;
    text-align: center;
}